<div class="HomePage">
    <p class="HomePage-introduction-title">The functionality of web portal:</p>
    
    <ol class="HomePage-list">
        <li>Admin can create a user for doctors.</li>
        <li>Registration for patient and login for all users.</li>
        <li>Doctor can assign brushing task for specific time (seconds) to specific patient.</li>
        <li>Patient can update brushing schedule task status in portal daily.</li>
        <li>View a history of completed brushing task-related his/her.</li>
        <li>Doctor can observe the brushing task schedule summary on dashboard related to his/her patients and also detail history for a specific patient.</li>
        <li>Doctor can assign/add the task of brushing a teeth to relevant patient.</li>
        <li>Generate a report for patient/doctor about brushing a teeth performance according to a task assign by the doctor.</li>
    </ol>
    
</div>